{{> head}}
{{> navbar}}
<div>
    <div class="col-8">
        <h1>ESCOM</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore laudantium libero suscipit porro ex accusantium nemo odit eligendi debitis non omnis dicta, eveniet quasi ratione natus cum eum repellendus? Aliquam.
        </p>
    </div>

    <div>
        <img class="img-thumbnail" src="assets/img/ESCOM.png">
    </div>

</div>

{{> footer}}